.contato{
    width: 100%;
    background-color: rgb(45, 45, 45);
    padding-bottom: 150px;
}

.contato-titulo{
    width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contato-titulo > h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.contato-titulo > div {
    width: 150px;
    height: 3px;
    background-color: rgb(243, 96, 42);
}

.contato-conteudo{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato-conteudo > div{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.contato-conteudo > div:hover{
    border: 5px solid rgb(243, 96, 42);
    transition: linear 0.3s;
}

@media only screen and (max-width: 600px) {
    .contato-titulo > h1 {
        font-size: 50px;
    }
}