header{
    background-color: rgb(243, 96, 42); 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px 0px;
    position: fixed;
    z-index: 1;
    border-bottom: 3px solid rgb(21, 17, 24);
}

header > div > h1{
    color:  rgb(255, 255, 255);
    font-size: 50px;
}

header > div > h1:hover{
    color: rgb(45, 45, 45);
    transition: linear 0.2s;
    cursor:move;
}

header > nav > a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0px 30px 0px 0px;
}

header > nav > a:hover{
    color: rgb(45, 45, 45);
    font-size: 35px;
    transition: linear 0.2s;
}

@media only screen and (max-width: 800px) {
    header nav{
        display: none;
    }

    header{
        padding: 5px;
    }
}


